<div class='container'>
  <h1 class='home-header'>Victory Over Addiction</h1>
  <div class='voa-image'></div>
  <h3 class='home-header'>What is Voa</h3>
  <p>"Victory Over Addiction" was formed in 2015 and serves those seeking an enduring recovery from addiction. Addiction's effects go far beyond the individual engaged in substance abuse. Many of our volunteers have experienced what is involved in caring for those struggling with addiction - offering love and support without enabling them. We have seen the "ups and downs" of progress for those seeking recovery. We have also witnessed what happens to those that do not seek recovery - many times with tragic consequences. We understand that supporting an individual after the initial recovery process is paramount to reducing relapse rates and enabling them to take back control of their lives.</p>
  <a target="_blank" href='https://www.victoryoveraddiction.org/' class='home-header'>Learn More</a>
  <div class='voa2-image'></div>
  <h3 class='home-header'>My involvement</h3>
    <p>-I have been a Board member since 2015.</p>
    <p>-Developed fundraising skills by managing a fundraising team and working with mentors.</p>
    <p>-Helped recovering drug and alcohol addicts in southern New Hampshire.</p>
    <p>-Raised awareness of the opioid crisis to high school students and adults by speaking at town events.</p>
    <p>-Learned how to put together events such as the Victory Over Addiction Color Race which raised $8,000 for the organization.</p>
    <p>-Helped run a team that raised $9,000 from June 2016 -September 2016 and then raised $11,000 from June 2017-September 2017.</p>
    <p>-Learned how to make critical decisions and problem solve as a board member.</p>
</div>
