<div class='container'><h4 class='home-header'>Camping Trip Advisor</h4>
<p>An app to help campers find new campgrounds and keep track of ones they've visited. It was a great experience building a full stack app from scratch. This app uses many interesting technologies, most notably the Yelp API and the Google Maps API. Integrating these two APIs was a challenge, but making the two APIs work with one another was one of the most rewarding parts of building this app.</p>
<p>I love camping and being outdoors. I am also passionate about coding. Not only does this app have lots of utility, but it combines two things I am passionate about.</p>
<p><a target="_blank" href='https://github.com/JackSoby/campingtrip-advisor-' class='home-header'>Source Code</a></p>
<p><a target="_blank" href='https://fierce-earth-28844.herokuapp.com/' class='home-header'>Demo Site</a></p></div>
