<div class='container'>
  <h1 class='home-header'>Market Basket</h1>
  <div class='market-basket'></div>
  <h3 class='home-header'>What is Market Basket</h3>
  <p>DeMoulas Super Markets, Inc., under the trade name Market Basket, is a chain of 79 supermarkets in New Hampshire, Massachusetts, and Maine in the United States, with headquarters in Tewksbury, Massachusetts.[4] The newest one opened in Fall River, Massachusetts.</p>
  <h3 class='home-header'>My involvement</h3>
  <p>-Promoted to assistant head cashier after just one year because of standout leadership skills and professionalism.</p>
  <p>-Established effective end of day checkout routine which cut closing time by 15 minutes and saved the company hundreds of dollars from excess staffing hours.</p>
  <p>-Developed smart problem solving skills, and learned how to manage a team and collaborate with others to achieve a common goal.</p>
</div>
