<div class='container'>
  <h1 class='home-header'>Jack Sobocinski</h1>
  <h3 class='home-header'>Software Engineer</h3>
  <div class='profile-image'></div>
  <h2 class='home-header'>About Me</h2>
  <p>Hello, My name is Jack Sobcinski and I am a full-stack web developer. I believe that my problem solving and critical thinking skills can best serve and have a positive impact on the world through software development. I have experience in the nonprofit and retail fields, and currently am a member of the Board of Directors for Victory Over Addiction. In VOA, we help the surrounding New England community battle the drug crisis. As a programmer, I believe that I can effect positive change in the world with software.</p>
  <a target="_blank" href='https://github.com/JackSoby' class='home-header'><div class='git-link'></div></a>
  <a target="_blank" href='https://www.linkedin.com/in/sobyj/' class='home-header'><div class='in-link'></div></a>

</div>
