<div class='container'>
  <h1 class='home-header'>Launch Academy</h1>
  <div class='mentor-group'></div>
  <h3 class='home-header'>What is Launch Academy</h3>
  <p>Launch Academy is a 10-week, immersive bootcamp taking eager learners with little to no coding experience and giving them the tools to add value as a junior contributor to a software engineering team</p>
  <a target="_blank" href='https://launchacademy.com/' class='home-header'>Learn More</a>
  <h3 class='home-header'>My involvement</h3>
  <p>-Completed immersive coding bootcamp to develop critical, applicable programming skills and become an active contributor of a software engineering team.</p>
  <p>-Established understanding of full stack web development by learning MVC setup. </p>
  <p>-Learned CRUD and how it applies to web applications, learned HTTP request response cycle, and practiced Git workflow.</p>
  <p>-Gained experience with fundamental programming concepts, such as pair programming, collaborative development, test driven development (TDD), and object oriented programming (OOP). </p>
  <p>-Learned how to code constructively with others through pair programming and group projects.</p>
  <h3 class='home-header'>Projects</h3>
  <h4 class='home-header'>Camping Trip Advisor</h4>
  <p>An app to help campers find new campgrounds and keep track of ones they've visited. It was a great experience building a full stack app from scratch. This app uses many interesting technologies, most notably the Yelp API and the Google Maps API. Integrating these two APIs was a challenge, but making the two APIs work with one another was one of the most rewarding parts of building this app.</p>
  <p>I love camping and being outdoors. I am also passionate about coding. Not only does this app have lots of utility, but it combines two things I am passionate about.</p>
  <p><a target="_blank" href='https://github.com/JackSoby/campingtrip-advisor-' class='home-header'>Source Code</a></p>
  <p><a target="_blank" href='https://fierce-earth-28844.herokuapp.com/' class='home-header'>Demo Site</a></p>
</div>
