.home-text{
  color: black;
}
.container{
  margin: auto;
  margin-top: 0px;
  width: 50%;
  border: 1px solid #494949;
  padding: 35px;
  border-top: 0px;
}
p{
  color: black;
  font-family: 'Montserrat', sans-serif;
}
.home-header{
    color: black;
    font-family: 'Vollkorn SC', serif;
}
.git-link{
  background-image: url("GitHub-Mark-32px");
  height: 32px;
  width: 32px;
}
.in-link{
  background-image: url('In-Black-41px-TM');
  height: 38px;
  width: 38px;
}
.profile-image{
  background-image: url("IMG_0161.png");
  background-repeat: no-repeat;
  background-size: 250px;
  height: 250px;
  max-width:100%;
  max-height:100%;
}
.market-basket{
  background-image: url("images");
  background-repeat: no-repeat;
  background-size: 250px;
  height: 250px;
  max-width:100%;
  max-height:100%;
}

.heroku-link{
  background-image: url("icons8-heroku-50");
  height: 50px;
  width: 50px;
margin-left: -10px;
}
