.home-text{
  color: black;
}
.container{
  margin: auto;
  margin-top: 0px;
  width: 50%;
  border: 1px solid #494949;
  padding: 35px;
  padding-top: 100px;
  border-top: 0px;
}
p{
  color: black
}
