.voa-image{
  background-image: url("IMG_0185");
  background-repeat: no-repeat;
  background-size: 250px;
  height: 210px;
  max-width:100%;
  max-height:100%;
  margin-bottom: 0px;
}
.voa2-image{
  background-image: url("IMG_0186");
  background-repeat: no-repeat;
  background-size: 350px;
  height: 190px;
  width:350px;
  max-width:100%;
}
